<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.antar.driver"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="com.antar.driver.constants.BaseApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl"
        tools:targetApi="n">
        <activity android:name="com.antar.driver.activity.SuksesActivity"></activity>
        <activity android:name="com.antar.driver.activity.StnkActivity" />
        <activity android:name="com.antar.driver.activity.PilihWilayahActivity" />
        <activity android:name="com.antar.driver.activity.WilayahActivity" />
        <activity android:name="com.antar.driver.activity.DetailActivity" />
        <activity android:name="com.antar.driver.activity.InboxActivity" />
        <activity
            android:name="com.antar.driver.activity.NewOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Login_phone"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <receiver android:name="com.antar.driver.utils.MyLocationService" />

        <service
            android:name="com.antar.driver.utils.api.service.NewOrderService"
            android:exported="false" />
        <service
            android:name="com.antar.driver.utils.api.service.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.antar.driver.activity.WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.antar.driver.activity.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.antar.driver.activity.WaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.antar.driver.activity.WithdrawActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Login_phone"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.antar.driver.activity.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.antar.driver.activity.IntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.antar.driver.activity.TopupSaldoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.antar.driver.activity.PrivacyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar" />
        <activity
            android:name="com.antar.driver.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar" />
        <activity
            android:name="com.antar.driver.activity.OrderDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar" />
        <activity
            android:name="com.antar.driver.activity.EditKendaraanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Login_phone" />
        <activity
            android:name="com.antar.driver.activity.ChangepassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Login_phone" />
        <activity
            android:name="com.antar.driver.activity.EditProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar" />
        <activity
            android:name="com.antar.driver.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Login_phone"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.antar.driver.activity.LupapassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Login_phone"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.antar.driver.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.google.firebase.auth.internal.FederatedSignInActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:permission="com.google.firebase.auth.api.gms.permission.LAUNCH_FEDERATED_SIGN_IN"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:launchMode" />

        <service android:name="com.google.firebase.components.ComponentDiscoveryService" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>